<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<a  href=https://github.com/matteoalessiocarrara/APK-Patcher target=_blank>APK-Patcher</a><br>
	Sostituisce automaticamente dei file in un APK<br><br><a  href=https://github.com/matteoalessiocarrara/bot-virtualbrowser target=_blank>bot-virtualbrowser</a><br>
	Browser headless veloce ed intuitivo, con interfaccia simile a quella dei browser gui - libreria in python<br><br><a  href=https://github.com/matteoalessiocarrara/Calcolatore-di-primi target=_blank>Calcolatore-di-primi</a><br>
	Veloce calcolatore di numeri primi<br><br><a  href=https://github.com/matteoalessiocarrara/Cesare target=_blank>Cesare</a><br>
	Software per codificare/decodifcare una stringa ASCII usando il cifrario di Cesare<br><br><a  href=https://github.com/matteoalessiocarrara/DELIRIVM target=_blank>DELIRIVM</a><br>
	<br><br><a  href=https://github.com/matteoalessiocarrara/facebook-filter target=_blank>facebook-filter</a><br>
	Filtro per profili Facebook, restituisce solo quelli che corrispondono ad una certa descrizione - libreria in python<br><br><a  href=https://github.com/matteoalessiocarrara/facebook-wrapper target=_blank>facebook-wrapper</a><br>
	Libreria per usare facebook in python<br><br><a  href=https://github.com/matteoalessiocarrara/FakeLogin-Fuzzer target=_blank>FakeLogin-Fuzzer</a><br>
	Cerca il file con le password rubate da un fake login<br><br><a  href=https://github.com/matteoalessiocarrara/FigaFind target=_blank>FigaFind</a><br>
	Cerca le ragazze in un gruppo su facebook<br><br><a  href=https://github.com/matteoalessiocarrara/generic-base-converter target=_blank>generic-base-converter</a><br>
	Converte da uint -> stringa in qualsiasi base, e da stringa in qualsiasi base -> uint - Libreria in C<br><br><a  href=https://github.com/matteoalessiocarrara/GNUDO-cpp-dbdriver-abstract target=_blank>GNUDO-cpp-dbdriver-abstract</a><br>
	<br><br><a  href=https://github.com/matteoalessiocarrara/GNUDO-cpp-dbdriver-sqlite target=_blank>GNUDO-cpp-dbdriver-sqlite</a><br>
	<br><br><a  href=https://github.com/matteoalessiocarrara/GNUDO-cpp-ui-qt target=_blank>GNUDO-cpp-ui-qt</a><br>
	<br><br><a  href=https://github.com/matteoalessiocarrara/GNUDO-project target=_blank>GNUDO-project</a><br>
	<br><br><a  href=https://github.com/matteoalessiocarrara/GNUDO-ui-common target=_blank>GNUDO-ui-common</a><br>
	<br><br><a  href=https://github.com/matteoalessiocarrara/HTML-Facebook-API target=_blank>HTML-Facebook-API</a><br>
	Estensione di facebook-wrapper, livello di astrazione sopra alla rappresentazione pura del sito - libreria in python<br><br><a  href=https://github.com/matteoalessiocarrara/human-virtualbrowser target=_blank>human-virtualbrowser</a><br>
	Browser headless scritto in python, ispirato ai browser con gui - libreria<br><br><a  href=https://github.com/matteoalessiocarrara/libfile-stringarray target=_blank>libfile-stringarray</a><br>
	Funzioni in c per leggere un file di testo e dividere la stringa risultante in un  array di stringhe, utilizzando un carattere come separatore<br><br><a  href=https://github.com/matteoalessiocarrara/linux_update target=_blank>linux_update</a><br>
	Script per tenere aggiornata una distro basata su debian (scorciatoie per apt-get) <br><br><a  href=https://github.com/matteoalessiocarrara/makefile-installation-path-collection target=_blank>makefile-installation-path-collection</a><br>
	Raccolta di makefile con la definizione dei percorsi di installazione per ogni os<br><br><a  href=https://github.com/matteoalessiocarrara/makew target=_blank>makew</a><br>
	<br><br><a  href=https://github.com/matteoalessiocarrara/matteoalessiocarrara.github.io target=_blank>matteoalessiocarrara.github.io</a><br>
	None<br><br><a  href=https://github.com/matteoalessiocarrara/readability target=_blank>readability</a><br>
	These headers let you able to read C code better, contains type definitons and some macros (even standard libaries macros)<br><br><a  href=https://github.com/matteoalessiocarrara/sqlite3pp target=_blank>sqlite3pp</a><br>
	<br><br><a  href=https://github.com/matteoalessiocarrara/technicolor-bruteforce target=_blank>technicolor-bruteforce</a><br>
	Il più veloce generatore di password per router technicolor<br><br><a  href=https://github.com/matteoalessiocarrara/technicolor-password-tester target=_blank>technicolor-password-tester</a><br>
	Prende in input delle password e restituisce solo quelle valide per i router technicolor<br><br><a  href=https://github.com/matteoalessiocarrara/technicolor_random target=_blank>technicolor_random</a><br>
	Generatore di password casuali per router technicolor<br><br><a  href=https://github.com/matteoalessiocarrara/Telegram-Bot-APY target=_blank>Telegram-Bot-APY</a><br>
	Semplicissimo wrapper in python per le Telegram Bot API<br><br>